@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap);

html body {
    font-family: 'Montserrat' !important;
    font-weight: 400;
}

.single .et_pb_row, .page .et_pb_row {
    width: 90%;
    max-width: 90%;
}

a {
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

#et-info .et-top-search .et-search-submit:before {
    font-size: 1em;
}

.et-top-search-primary-menu-item .search-icon:before {
    color: #414141;
}

#et-info .et-top-search {
    margin: 0;
}

.header.centered #et-navigation>ul>li>a {
    text-transform: uppercase;
}

.side-menu.categories .cat-item-49+a {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
}

.page #main-content,
.search-results #main-content,
.archive #main-content {
    margin-top: 30px;
}

.search-results .with_sidebar .et_pb_extra_column_main {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.archive h1,
.page .post-wrap h1.entry-title {
    text-transform: uppercase;
    font-size: 2.6em;
    padding: 0px 8px 50px 8px;
    text-align: center;
    color: #414141 !important;
}


.archive h1:after,
.page .post-wrap h1.entry-title:after {
    content: '';
    height: 5px;
    display: block;
    margin: 40px 0 0 0;
    background: #737F8C;
}

body {
    background: #fff;
}

ul.et_extra_mobile_menu li:nth-child(n+7),
#rating-stars,
article:not(.has-post-thumbnail) .header,
.rating-stars,
.article-content-top-columns-social .wmd-sidebars-widget h3.widgettitle,
.search-results .et_pb_extra_column_sidebar,
#footer-bottom,
.nav-link-prev,
.nav-link-next,
#top-header #et-secondary-menu,
.post-footer .social-icons {
    display: none !important;
}

.at-icon-wrapper {
    background-color: #414141 !important;
}

.category .post-meta.vcard p a {
    color: #A51C30;
    font-size: 1.3em;
}

h2.post-title.entry-title a {
    color: #A51C30 !important;
}

.container {
    max-width: 1170px;
}

.page article,
.single article {
    box-shadow: none;
}

.archive .posts-blog-feed-module {
    border: none;
}

.posts-blog-feed-module .hentry {
    padding: 40px 0;
}

.posts-blog-feed-module .hentry:last-of-type {
    border-bottom: none;
}

.posts-blog-feed-module .hentry:first-of-type {
    padding: 0 0 40px 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    color: #414141;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-family: 'Montserrat', serif !important;
    font-weight: 700 !important;   
}

.regular-article-paragraph p,
.regular-article-paragraph li,
.large-mid-paragraph-text p,
.article-content-top-columns p,
.article-content-top-columns .et_pb_text_inner,
.paragraph-with-image p,
.call-to-action p,
.paragraph .et_pb_text_inner,
.side-menu *,
.static-page-subheading h2 span,
.photo-credit p,
.wp-caption p.wp-caption-text,
.sidedbar-bluebox-callout .et_pb_text_inner,
.article-content-top-columns .sidedbar-bluebox-callout p {
    font-family: 'Montserrat', san-serif !important;
    font-weight: 400;
}

.page .et_pb_text_inner ul a,
.page .et_pb_text_inner ol a,
.page p a,
.call-to-action a,
.paragraph a,
.sidedbar-bluebox-callout a {
    color: #A51C30 !important;
}

#et-navigation>ul>li>a:before {
    display: none;
}

#main-content {
    padding-top: 0;
}

#et-navigation>ul>li.current_page_item>a,
#et-navigation li a {
    border-bottom: none;
    color: #FFF;
    text-transform: none;
}

#main-header {
    background: #fff;
}

.page article {
    border-top-width: 0;
    border-top-style: solid;
    border-color: transparent;
    margin: 0;
}

.page .post-wrap {
    padding: 40px 0;
}

.main-section-header h2 {
    font-weight: 700 !important;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 0px;
}


.main-section-header h2::after {
    content: ' ';
    width: 70px;
    height: 5px;
    display: block;
    margin: 20px 0 20px 0;
    background: #737F8C;
}

.main-section-header h2::before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    margin-bottom: 70px;
    background: #BAC5C6;
}


.main-section-header.no-divider h2::before {
    display: none;
}

/* PHOTO CREDIT*/

.et_pb_row.photo-credit {
    font-family: 'Montserrat' !important;
    font-weight: 400;
    font-size: .75em;
}

.et_pb_row.photo-credit {
    padding: 1% 0 0;
}

.et_pb_row.photo-credit+.et_pb_row.article-breadcrumbs-season-header {
    padding: 0 0 2% 0;
}

/* BUTTONS */

.more-articles-button.et_pb_row {
    padding-top: 0px;
    
}



.read-more-button,
.post-meta.vcard,
.post-meta.vcard * {
    display: none;
}

a.et_pb_button {
    margin-bottom: 5%;
}

button[type="submit"].et_pb_contact_submit,
button[type="submit"].et_pb_contact_submit:hover {
    background-color: #A51C30;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
}

.et_pb_button {
    border-color: transparent;
    background-color: #6E7687;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0px;
}

.et_pb_pagebuilder_layout .post-content a.et_pb_button {
    color: #fff;
}

.et_pb_button:after {
    font-size: 32px;
    line-height: .75em;
}

.et_pb_pagebuilder_layout .post-content a.et_pb_button:hover {
    color: #6E7687;
    text-decoration: none;
}

.et_pb_button.text-button::after {
    margin-left: -.2em;
    opacity: 1;
}

.et_pb_button.text-button:hover::after {
    margin-left: 0em;
}

.et_pb_pagebuilder_layout .post-content .et_pb_button.text-button,
.et_pb_pagebuilder_layout .post-content .et_pb_button.text-button:hover  {
    background-color: transparent;
    padding: 0px;
    color: #A51C30;
    text-decoration: none;
}

.page p a[role=button] {
    padding: 20px 30px;
    color: #fff !important;
    background-color: #8097AC;
    text-decoration: none;
    margin: 20px 0;
    display: block;
    text-align: center;
    width: 200px;
}

/* two column section */
.two-column-section {
    padding-top: 70px;
    margin-top: 2%;
    border-top: 1px solid #BAC5C6;
}

.two-column-section h2 {
    font-weight: 700 !important;
    font-size: 2.2rem;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 0px;
}

.two-column-section h2::after {
    content: ' ';
    width: 70px;
    height: 5px;
    display: block;
    margin: 20px 0 20px 0;
    background: #737F8C;
}

.inline-left-image.image-card.et_clickable:hover {
    background: transparent;
}

/* SIDE CARDS */
.et_pb_row.side-card-columns {
    background-color: #6E7687;
    color: #fff;
}
.et_pb_row.side-card-columns a,
.et_pb_row.side-card-columns a:visited {
    color: #fff !important;
}

.et_pb_row.side-card-columns h2,
.et_pb_row.side-card-columns h3 {
    color: #fff;
    font-size: 1.9em;
}

.side-card-columns + .side-card-columns::before {
    content: '';
    display: block;
    padding-bottom: 20px !important;
    height: 2px;
    background: #fff;
    width: 100%;
}

.side-card-columns h2,
.page .post-wrap .side-card-columns h2 a {
    color: #fff;
    font-size: 1.9em;
}

.page .post-wrap .side-card-columns h2 a {
    font-size: 1em;
}

.et_pb_row.side-card-columns {
    padding: 0;
    margin-bottom: 25px;
}


.side-card-columns.right .et_pb_text .et_pb_text_inner,
.side-card-columns.left .et_pb_text .et_pb_text_inner {
    padding-top: 30px;
}

.side-card-columns.left .et_pb_image_wrap {
    transform: translateX(1px);
}

.side-card-columns.left .et_pb_text .et_pb_text_inner  {
    padding-left: 40px;
}

.side-card-columns.right .et_pb_text .et_pb_text_inner  {
    padding-right: 40px;
}

.more-articles-button.et_pb_row + .side-card-columns.et_pb_row {
    margin-top: 70px;
}

.more-articles-button.et_pb_row + .side-card-columns.et_pb_row::before {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: #BAC5C6;
    position: absolute;
    top: -70px;
}

/* IMAGE CARDS */

.side-card-columns.et_clickable .et_pb_image_wrap,
.image-card.et_clickable .et_pb_image_wrap {
    max-width: 100%;
    overflow: hidden;
}

.side-card-columns h3 {
    font-size: 1.9em;
}

.image-card h3 {
    font-size: 1.3em;
    line-height: 1.2;
}
.image-card .et_pb_main_blurb_image {
    margin-bottom: 10px;
}

/* .side-card-columns.et_clickable .et_pb_image_wrap img,
.image-card.et_clickable  .et_pb_image_wrap img {
    transition-duration: .5s;
} */

/* .side-card-columns.et_clickable:hover .et_pb_image_wrap img,
.image-card.et_clickable:hover .et_pb_image_wrap img {
    transform: scale(1.1);
} */

.image-card .et_pb_blurb_description h2 {
    font-size: 1.5em;
    line-height: 1.2em;
}

/* .side-card-columns.et_clickable,
.image-card.et_clickable,
.et_pb_text.et_clickable .et_pb_text_inner {
    transition-duration: .5s;
} */

.et_pb_text.et_clickable .et_pb_text_inner {
    /* display: inline-block; */
    padding: 5px 0px;
}

.editor-letter.et_clickable:hover h3,
.image-card.et_clickable:hover h2,
.image-card.et_clickable:hover h3,
.image-card.et_clickable:hover h4 {
    text-decoration: underline;
}

.image-card .et_pb_blurb_container {
    padding: 5px 0px;
}

/* .issue_hero .et_pb_module.et_pb_text p:first-child:first-of-type,*/
.side-card-columns .et_pb_text p:first-of-type,
.image-card .et_pb_blurb_description p:nth-last-of-type(2),
.two-columns_hero .et_pb_blurb_description p:first-child:first-of-type,
.issue_hero .et_pb_blurb_description p:first-child:first-of-type { 
    margin-bottom: .5em;
}
/*.issue_hero .et_pb_text p:first-child:first-of-type, */
.two-columns_hero .et_pb_blurb_description p:first-child:first-of-type,
.issue_hero .et_pb_blurb_description p:first-child:first-of-type,
.side-card-columns .et_pb_text p:first-child:first-of-type,
.image-card .et_pb_blurb_description p:nth-last-of-type(2) {
    font-family: 'Montserrat' !important;
    color: #A51C30;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
}

/* .issue_hero .et_pb_text p:first-child:first-of-type, */
.side-card-columns .et_pb_text p:first-child:first-of-type,
.two-columns_hero .et_pb_blurb_description p:first-child:first-of-type,
.issue_hero .et_pb_blurb_description p:first-child:first-of-type {
    color: #fff;
}


.side-card-columns .et_pb_text h2~p:first-of-type,
.image-card .et_pb_blurb_description h2~p:first-of-type {
    font-weight: 400;
    text-transform: none;
}

.et_pb_extra_module .post-meta,
.page .post-wrap .image-card .et_pb_blurb_description h2 a {
    color: #000 !important;
}

.image-card .et_pb_blurb_content {
    text-align: left;
}

.main-hero h2.et_pb_slide_title {
    font-size: 2.75em;
}

.main-hero .et_pb_slide_content p {
    font-size: 1.7em;
}

/* Left Image cards */

.et_pb_blurb_position_left .et_pb_main_blurb_image {
    width: 30%;
    padding-right: 2%
}


/* TEXT BAND */
.page-text-hero {
    padding: 0px 20px 40px 45px;
}

/* ARTICLE TABS*/
.et_pb_tab {
    padding: 24px 0px 0px 0px;
}
.et_pb_tabs {
    border: none;
    
}
.single-post h1 {
    font-size: 2.6em;
    padding-bottom: 1em;
}

ul.et_pb_tabs_controls {
    background: transparent;
}

.et_pb_tabs li.et_pb_tab_active a  {
    background: #A51C30;
}

.et_pb_pagebuilder_layout .et_pb_tab .et_pb_tab_content a,
.et_pb_pagebuilder_layout .et_pb_tab .et_pb_tab_content a:visited,
.post-content a,
.et_pb_pagebuilder_layout .et_pb_text a {
    color: #A51C30;
}

.et_pb_tabs li a {
    background: #f3f3f1;
}

.et_pb_tabs li.et_pb_tab_active a {
    color: #fff !important;
}

/*ARTICLE FONTS*/

.dcsbcm_divi_breadcrumbs_wrapper {
    margin-bottom: 0px !important;
}

.dcsbcm_divi_breadcrumb {
    color: #A51C30
}


.post-template-default article .article-breadcrumbs-season-header .dcsbcm_divi_breadcrumb {
  font-size: 1rem;
}

.post-template-default article .article-breadcrumbs-season-header,
.post-template-default article .et_pb_tabs_controls,
.post-template-default article .main-section-header h2,
.post-template-default article .et_pb_blog_grid,
.post-template-default article .et_pb_blog_grid h3,
.post-template-default article .et_pb_blog_grid h2,
.post-template-default article .et_pb_blog_grid h3 a,
.post-template-default article .et_pb_blog_grid h2 a,
.post-template-default article .et_pb_blog_grid .post-content {
    font-family: 'Montserrat' !important;
}

.post-template-default article,
.post-template-default article h1,
.post-template-default article h2,
.post-template-default article h3,
.post-template-default article h4,
.post-template-default article h5,
.post-template-default article h6, 
.post-template-default article h1 a,
.post-template-default article h2 a,
.post-template-default article h3 a,
.post-template-default article h4 a,
.post-template-default article h5 a,
.post-template-default article h6 a,
.post-template-default article .wp-caption p.wp-caption-text,
.post-template-default article .paragraph .et_pb_text_inner {
    font-family: 'Spectral', serif !important;
}

.post-template-default article p {
    font-size: 1.1em;
}

.post-template-default article .et_pb_blog_grid p {
    font-size: 18px;
}

/* SIDE MENU */

.side-menu ul {
    list-style: none;
    border-left: 5px solid #d5dce1;
    padding: .2em 0 .3em 0;
    line-height: 1.4em;
}

.side-menu ul ul {
    list-style: none;
    border-left: none;
    padding: 0;
}

.side-menu ul li {
    font-size: .9em;
}

.side-menu ul li {
    padding: 3px 0 8px 12px;
    margin-bottom: 0;
}

.side-menu ul li {
    font-weight: 700;
}

.side-menu ul li a {
    color: #000;
}

.side-menu ul li:nth-child(n+2) a {
    color: #30638e;
}

.side-menu ul li:first-child {
    text-transform: uppercase;
}

.side-menu ul.children li {
    text-transform: none;
}

.side-menu.categories ul li {
    font-size: 1em;
}

/* CATEGORIES MENU */

/*post list */
.archive  h1 {
    font-size: 2em;
    line-height: 1.125;
}

.archive .et_pb_column_1 {
    border-left: 3px solid #BAC5C6;
    padding-left: 20px !important;
}

.archive h2.post-title.entry-title a {
    color: #333 !important;
}

.archive .et_pb_extra_module {
    border-top: none;
}




/*filters*/

.searchandfilter ul li {
    list-style: none;
}

/* .et_pb_code .categories .cat-item a {
    text-transform: none;
    font-size: 1.125rem;
    line-height: 1.125;
    padding-left: 10px;
    padding-right: 10px;
} */

.searchandfilter .cat-item.cat-item-1,
.searchandfilter option[value="1"] {
    display: none;
}

.searchandfilter ul:not(.children) {
    padding-left: 0px;
}

.et_pb_widget .searchandfilter .children,
.et_pb_widget .searchandfilter  ul li ul.children li {
    border: none
}


.et_pb_widget .searchandfilter li {
    border-bottom: none;
    font-size: 15px;
    padding: 12px 0px
}

.searchandfilter h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
    color: #414141;
}

.et_pb_widget .searchandfilter .children {
    margin-left: 20px;
}

.et_pb_widget ul li ul li {
    margin-left: 0px;
}

.et_pb_widget {
    box-shadow: none;
}

.et_pb_widget .widgettitle {
    background: transparent;
    padding: 0px 20px 0px 15px;
    color: #414141;
    font-weight: 600;
}

.et_pb_widget.widget_text .textwidget  {
    padding-left: 15px;
}

/* ARTICLE CONTENT STYLES */

.paragraph-with-image {
    padding: 0 0 0 8.5%;
}

.regular-article-paragraph {
    padding: 0 30.5% 0 0%;
}

.paragraph-with-image p {
    padding-right: 22%;
}

.caps {
    text-transform: uppercase;
}

.theme {
    color: #757575;
    font-size: .85em;
}

p:empty {
    display: none;
}

.large-mid-paragraph-text h2 {
    font-size: 2.25em;
    line-height: 1.25em;
}

blockquote,
.paragraph blockquote {
    margin: 20px 0 30px 30px;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: none;
    border-left: none;
    min-height: 60px;
    padding-left: 60px;
    background-repeat: no-repeat;
    background-image: url(https://websites.harvard.edu/revista/files/2019/11/quote.png);
}

blockquote p,
.paragraph blockquote {
    margin-bottom: 1em;
}

.paragraph .et_pb_text_inner,
.call-to-action p,
.paragraph ul {
    font-size: 1.2em;
    line-height: 1.75em;
}

.paragraph ul {
    font-size: 1em;
}

.paragraph.notes p,
.paragraph.notes ol {
    font-size: .8em;
}

.paragraph.notes ol li {
    margin-bottom: 0;
}

.paragraph sup {
    vertical-align: baseline;
    position: relative;
    top: -0.65em;
    font-size: .65em;
}

/* .et-extra-icon-facebook.et-extra-icon-background-hover {
    background: #39579a!important
}

.et-extra-icon-twitter.et-extra-icon-background-hover {
    background: #01aced!important
}

.et-extra-icon-basic_email.et-extra-icon-background-hover,
.et-extra-icon-basic_print.et-extra-icon-background-hover {
    background: #000 !important;
} */

/* .social-icons a {
    display: block;
    margin-bottom: 10px;
} */

.article-breadcrumbs-season-header p:not(:first-child) a {
    font-weight: 700;
    color: #A51C30;
}

.article-breadcrumbs-season-header {
    font-size: 30px;
}

.article-breadcrumbs-season-header .disclaimer {
    font-size: 14px;
    max-width: 60%;
}

.article-breadcrumbs-season-header p:first-child a,
.article-breadcrumbs-season-header p:first-child {
    text-decoration: none;
} 

.archive .et_pb_extra_module {
    box-shadow: none;
}

/* TABLE OF CONTENTS*/
.et_pb_post .entry-featured-image-url {
    margin-bottom: 0px;
}

.two-columns_hero .et_pb_posts .et_pb_post,
.issue_hero .et_pb_posts .et_pb_post {
    margin-bottom: 11.5%;
}

.et_pb_ajax_pagination_container article {
    /* position: relative; */
    transition-duration: .5s;
}

.et_pb_ajax_pagination_container article h3,
.et_pb_ajax_pagination_container article h4 {
    margin-top: 10px;
}

.et_pb_ajax_pagination_container article .entry-featured-image-url:hover + h3,
.et_pb_ajax_pagination_container article .et_pb_image_container:hover  + h4,
.et_pb_ajax_pagination_container article h3:hover,
.et_pb_ajax_pagination_container article h4:hover {
    text-decoration: underline;
}

.et_pb_ajax_pagination_container .entry-featured-image-url {
    max-width: 100%;
    overflow: hidden;
}

.et_pb_blog_grid .et_pb_image_container {
    margin: 0px;
}

.et_pb_blog_grid .et_pb_post {
    border: none;
    padding: 0px
}

/* .et_pb_ajax_pagination_container article  .entry-featured-image-url img {
    transition-duration: .5s;
}

.et_pb_ajax_pagination_container article .entry-featured-image-url:hover img {
    transform: scale(1.1);
} */


.et_pb_ajax_pagination_container h3.entry-title,
.et_pb_ajax_pagination_container h4.entry-title {
    padding-bottom: 10px;
}

.et_pb_ajax_pagination_container .post-content {
    padding-bottom: 5px
}

.et_pb_ajax_pagination_container .post-meta {
    padding: 5px 0px;
}

/* .et_pb_ajax_pagination_container h3.entry-title a::after,
.et_pb_ajax_pagination_container h4.entry-title a::after  {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.et_pb_ajax_pagination_container h3.entry-title,
.et_pb_ajax_pagination_container h4.entry-title  {
    font-size: 23.4px;
}

.et_pb_ajax_pagination_container h3.entry-title a,
.et_pb_ajax_pagination_container h4.entry-title a {
    font-size: .925em;
    line-height: 1.2;
}

.et_pb_ajax_pagination_container .post-content i,
.excerpt.entry-summary i,
.et_pb_ajax_pagination_container .post-meta [rel="tag"] {
    font-family: 'Montserrat' !important;
    color: #A51C30;
    font-weight: 800;
    /* text-transform: uppercase; */ /* NEW TAGS */
}

.et_pb_ajax_pagination_container .post-content i,
.excerpt.entry-summary i {
    font-size: .85em;
    font-style: italic;
}

.two-columns_hero .et_pb_ajax_pagination_container .post-content p {
    font-size: 0px;
}

.two-columns_hero .et_pb_ajax_pagination_container .post-content i {
    font-size: .85rem;
}

.et_pb_ajax_pagination_container .post-meta a:hover {
    text-decoration: underline;

}

.et_pb_ajax_pagination_container .post-content-inner i,
.excerpt.entry-summary i {
    color: #333;
    text-transform: none;
}



/* NEW TAGS*/

/* .et_pb_post .post-meta {
    margin-bottom: 0px;
    font-size: 0px;
}

.et_pb_post .post-meta [rel="tag"]:first-child {
    font-size: .96rem;
    line-height: 1.5;
}

.two-columns_hero .et_pb_post .post-meta [rel="tag"]:first-child {
    font-size: .85rem;
}

.et_pb_ajax_pagination_container .post-meta [rel="tag"] + [rel="tag"] {
    display: none;
    visibility: hidden;
} */

/* CAPTIONS */

.wp-caption {
    background-color: #d5dce1;
}

.wp-caption.alignright {
    margin-left: 15px;
}

.wp-caption.alignleft {
    margin-right: 15px;
}

.et_pb_widget_area_left {
    border-right: none;
}

.horizontal-rule:before {
    border-top-width: 4px;
    border-top-color: #BAC5C6 !important;
    width: 100%;
    left: 0px;
}

.wp-caption p.wp-caption-text,
.wp-caption-text.gallery-caption,
figcaption {
    font-size: .75em;
    text-align: left;
    font-size: .925rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-weight: 600;
    padding: 0px 10px 10px 10px;
    border-top: 0px;

}

.featherlight .featherlight-content .caption {
    font-weight: bold;
}

.wp-caption {
    border: none;
    padding: 0px;
}

.wp-caption {
    background-color: transparent;
}

.side-card-columns .et_pb_button_module_wrapper {
    margin-top: -4%;
}

.call-to-action {
    background: #f0f2f4 !important;
    color: #000 !important;
    padding: 40px 60px 20px 100px;
    text-align: left;
}

/* SUBSCRIBE BOX */

.subscribe-cta {
    margin-top: 80px;
}

.subscribe-cta-text {
    border: 1px solid  #bac5c6;
    border-bottom: none;
    background-color: #f3f3f1;
    color: #515151;
    padding: 25px 25px 0px 25px;
    margin-bottom: 0px !important;
}

.subscribe-cta-text .et_pb_text_inner {
    text-align: center;
}

.subscribe-cta .et_pb_button_module_wrapper  {
    border: 1px solid  #bac5c6;
    border-top: none;
    background-color: #f3f3f1;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.subscribe-cta a.et_pb_button {
    margin-bottom: 0%;
}

.et_pb_button.subscribe-cta-button {
    background-color: #A51C30;
}

.et_pb_pagebuilder_layout .post-content a.subscribe-cta-button.et_pb_button:hover {
    color: #fff;
    background-color: #A51C30;
}

.static-page-subheading {
    background: #e8f2fb;
    padding: 10px 0 0 10px;
}

.static-page-subheading h2 span {
    font-size: .7em;
}


/* TWO COLUMN HERO and ISSUE HERO */

/* .issue_hero .et_pb_module.et_pb_text  {
    background-color: #A51C30;
    color: #fff;
    margin-bottom: 0px;
} */

/* .issue_hero .et_pb_text .et_pb_text_inner {
    padding: 40px;
} */

/* .issue_hero .et_pb_module.et_pb_text a {
    color: #fff;
} */



.two-columns_hero .main-section-header h2::before {
    display: none;
}

.two-columns_hero .et_pb_blurb_content,
.issue_hero .et_pb_blurb_content {
    max-width: 100%;
}

.two-columns_hero.et_pb_row,
.issue_hero.et_pb_row {
    padding: 0;
}

.two-columns_hero .et_pb_blurb_container,
.issue_hero .et_pb_blurb_container  {
    position: absolute;
    bottom: 30px;
    color: #fff;
    padding: 40px !important;
    background-color: rgba(165,28,48,.9);
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
    width: 60%;
}

.two-columns_hero.spotlight_hero .et_pb_blurb_container  {
    background-color: rgba(110, 118, 135, .9);
}

.et_pb_pagebuilder_layout .two-columns_hero .et_pb_blurb_container a,
.et_pb_pagebuilder_layout .two-columns_hero .et_pb_blurb_container a:visited,
.et_pb_pagebuilder_layout .issue_hero .et_pb_blurb_container a,
.et_pb_pagebuilder_layout .issue_hero .et_pb_blurb_container a:visited {
    color: #fff !important;
}

/* .page .post-content .issue_hero .et_pb_text h1, */
.page .two-columns_hero .et_pb_blurb_container h1,
.two-columns_hero .et_pb_blurb_container h2,
.two-columns_hero .et_pb_blurb_container h2 a,
.page .issue_hero .et_pb_blurb_container h1,
.issue_hero .et_pb_blurb_container h2,
.issue_hero .et_pb_blurb_container h2 a {
    font-size: 2.6em;
    color: #ffff;
}

.two-columns_hero .et_pb_blurb_container h2 a,
.issue_hero .et_pb_blurb_container h2 a  {
    font-size: 1em;
}

/* SEARCH RESULTS */

.search-results .et_pb_extra_module {
    border-top: none;
    box-shadow: none;
    margin-top: 30px;
}

.search-results .posts-blog-feed-module.standard .hentry.type-page.has-post-thumbnail .header,
.search-results .posts-blog-feed-module.standard .hentry.type-post.has-post-thumbnail .header {
    width: 30%;
}

.archive .posts-blog-feed-module.standard .hentry.type-post.has-post-thumbnail .header {
    width: 35%;
}

#secureimgdiv label span {
    color: #EB0000 !important;
}

.et-search-field:focus {
    outline: red;
}

/* SIDE BAR CALL OUT */

.sidedbar-bluebox-callout h2 {
    font-size: .9em;
    font-weight: normal;
    padding: 2px 0px;
    display: inline-block;
    margin-bottom: 10px;
}

.sidedbar-bluebox-callout {
    background: #f3f3f1;
    font-weight: 700;
    padding: 15px;
}

.article-content-top-columns .sidedbar-bluebox-callout .et_pb_text_inner {
    line-height: 1.5em;
    font-size: .9em;
}

/* ISSUE PAGE SECTION DIVIDER */
.et_pb_module.et_pb_divider:not(.horizontal-rule):before {
    border-color: #BAC5C6;
}

/* PAST ISSUES */

.past-issues img {
    width: 200px;
}

.past-issues .et_pb_column {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.past-issues .et_pb_module.et_pb_text {
    min-width: 200px;
    margin: 2%;
    flex-basis: 21%;
}


/* BOOK REVIEWS */

.book-reviews .et_pb_ajax_pagination_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-reviews .et_pb_ajax_pagination_container  article {
    min-width: 200px;
    margin: 2%;
    flex-basis: 21%;
}

.et_pb_column_1_5 h3 {
    font-size: 1em;
}

/* TOPIC CATEGORIES */

.topics-categories .et_pb_code_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.topics-categories .et_pb_code_inner a {
    background-color: #8097AC;
    text-align: center;
    padding: 40px;
    font-size: 1.5em;
    line-height: 1.2em;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    width: 31%;
    margin-bottom: 30px;
}

.topics-categories .et_pb_code_inner a:last-of-type:after {
    content: '';
    flex: auto;
}

.topics-categories_revised .et_pb_code_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 750px;
}

.topics-categories_revised.sections .et_pb_code_inner {
    max-height: 150px;
}

.topics-categories_revised .et_pb_code_inner a {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0 0 30px 0;
    display: flex;
    color: #30638e !important;
    width: 36%;
}

.topics-categories_revised .et_pb_code_inner a:first-of-type {
    display: none;
}

.topics-categories_revised.topics .et_pb_code_inner a:last-of-type {
    margin-right: auto;
}

.topics-categories_revised .et_pb_code_inner br {
    display: none;
}

.topics-categories .et_pb_code_inner a:nth-of-type(2) {
    transform: translateX(-8px);
}

.archive-pagination .pagination li>.page-numbers.current,
.archive-pagination>.page-numbers li>.page-numbers.current,
.paginated .pagination li>.page-numbers.current,
.paginated>.page-numbers li>.page-numbers.current {
    background: #003663;
}

.archive-pagination .pagination li a,
.archive-pagination>.page-numbers li a,
.paginated .pagination li a,
.paginated>.page-numbers li a {
    color: #000;
}

#main-content:focus {
    outline: none !important;
}

/* COMMENTS */

.subscribe-to-comments input,
.comment-respond label {
    display: none;
}

.et-search-submit:focus,
#commentform input:focus {
    outline: #2ea3f2 solid 2px;
    -webkit-transition: none !important;
    transition: none !important;
}

/* show secondary menu on mobile*/

ul.et_extra_mobile_menu li:nth-child(n+7),
#top-header #et-secondary-menu {
    display: block !important;
}

/* LEFT IMAGE BLOG LIST */

.left-image-cards:not(.vertical-images) .entry-featured-image-url {
    max-height: 220px;
}

.left-image-cards.vertical-images article img {
    max-height: 200px;
    width: auto;
}

@supports (display: grid) {

    .left-image-cards:not(.vertical-images) .entry-featured-image-url {
        max-height: none;
    }
    
    .left-image-cards.vertical-images article img {
        max-height: none;
        width: 100%;
    }


    .left-image-cards article {
        max-width: none !important;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 2%;
        grid-template-areas:
                'image title title'
                'image category category'
                'image blurb blurb';
    }

    .toc .left-image-cards article {
        padding: 2% 0%;
    }

    .left-image-cards.vertical-images article {
        grid-template-columns: 1fr 5fr;
    }

    .left-image-cards article .entry-featured-image-url {
        grid-area: image;
    }

    .left-image-cards article .entry-title {
        grid-area: title;
    }

    .left-image-cards article .post-meta {
        grid-area: category;
    }

    .left-image-cards article .post-content {
        grid-area: blurb;
    }

    .left-image-cards .et_pb_ajax_pagination_container h3.entry-title, 
    .left-image-cards .et_pb_ajax_pagination_container h4.entry-title {
        padding-bottom: 5px;
        margin-top: 0px;
    }

}



/* FOOTER */

#footer-content-eb {
    background: rgba(0,0,0,.9);
    text-align: left !important;
    padding: 40px 0;
    color: #fff;
    font-size: 14px
}

#footer .et_pb_widget:first-of-type {
    margin-bottom: 10px;
}

#footer .et_pb_widget.widget_text .textwidget {
    padding-right: 10px;
    color: #FFF;
    font-family: 'Spectral', serif !important;
}

#footer .et_pb_widget.widget_text .textwidget p {
    font-size: .925em;
}


#footer .et_pb_widget.widget_text .textwidget a {
    color: #fff;
    text-decoration: underline;
}

#footer-content-eb span.footer-title {
    text-transform: uppercase;
}

#footer-content-eb a,
#footer-content-eb a:visited {
    color:#fff !important;
  text-decoration: underline;
}


.footer-wrapper {
    width: 98%;
    max-width: 1170px;
    margin: 0 auto;
}

.post-footer,
.post-nav {
    display: none;
}

#et-secondary-menu li.current-menu-item > a,
#et-navigation li.current-menu-item > a {
    text-decoration: underline;
}

#et-navigation li.current-menu-item a:hover,
.header.centered #et-navigation>ul>li.current-menu-item > a:hover {
    background: transparent;
    text-decoration: underline;
}

.grid-list ul li {
    list-style: none;
    text-transform: uppercase;
}

a[data-featherlight="image"] img {
 transition-duration: .5s;
}

a[data-featherlight="image"] img:hover {
    transform: scale(.99);
    border: 2px solid #A51C30 !important;
    cursor: zoom-in;
}

.gallery img {
    border: none !important;
}

@media only screen and (min-width: 768px) {

    #et-secondary-menu a:hover,
    #et-secondary-menu a {
        font-size: .825rem;
        text-transform: uppercase;
        color: #414141;
        font-size: .725rem;
    }

    #et-secondary-menu li.current-menu-item > a {
        color: #414141;
    }

    #et-secondary-menu .sub-menu li.current-menu-item > a {
        color: #fff;
    }

    .nav li ul {
        padding: 10px 0px;
    }

    #et-menu li > ul li a {
        text-transform: uppercase;
        color: #fff;
    }

    #et-navigation li a {
        padding: 5px 0px;
    }

    #main-header .logo {
        height: 100.4px !important;
    }

    .nav li ul {
        border: none;
    }

    #et-menu li > ul,
    #et-secondary-menu li > ul {
        background: #6E7687;
        color: #fff;
    }

    #et-secondary-menu li > ul a {
        padding: 5px 10px;
    }

    #et-secondary-menu li > ul li a,
    #et-secondary-menu li > ul li a:hover {
        color: #fff;
    }

    #et-secondary-menu > li > a:before {
        display: none;
    }

    ul#et-secondary-menu {
        padding-top: 10px;
    }
    .header.centered #et-navigation>ul>li>a {
        padding: 10px 15px 8px 15px !important;
        font-size: 1.2rem;
        color: #414141;
        transition-duration: .5s;
    }

    .header.centered #et-navigation>ul>li > a:hover {
        text-decoration: none;
        background:#f3f3f1;
    }

    .grid-list ul li {
        flex-basis: 50%;
    }
    
    .grid-list ul {
        display: flex;
        flex-wrap: wrap;
    }

    .left-image-cards article {
        max-width: 293px;
    }



}

@media (min-width: 981px) {
    .et_pb_section {
        padding: 0;
    }
    .search-results .container,
    .page .post-wrap,
    .page .et_pb_row,
    .et_pb_row.et_pb_row_fullwidth,
    .et_pb_specialty_fullwidth>.et_pb_row {
        width: 100%!important;
        max-width: 1170px !important;
    }


    /* two columns hero */

    .two-columns_hero .et_pb_posts h3 {
        font-size: 18px;
    }

    .two-columns_hero .et_pb_posts article {
        margin-bottom: .5em;
    }

    .two-columns_hero .et_pb_posts .post-content {
        font-size: 12px;
    }

    .two-columns_hero .et_pb_posts .et_pb_post,
    .issue_hero .et_pb_posts .et_pb_post {
        margin-bottom: 4%;
    }
    .two-columns_hero .main-section-header h2 {
        padding-top: 0px;
        font-size: 1.125rem;
    }

    /* .two-columns_hero .et_pb_post .entry-featured-image-url {
        margin-bottom: 0px;
    } */

    .two-columns_hero .et_pb_posts h3 {
        padding-bottom: 0px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .two-columns_hero .et_pb_ajax_pagination_container .entry-featured-image-url {
        max-height: 100px;
        max-height: 145px;
    }

    .grid-list ul li {
        flex-basis: 33%;
    }

    @-moz-document url-prefix() {
        .et_pb_row.et_pb_row_fullwidth.side-card-columns.left {
            max-width: 99% !important;
        }
    }
    .page .post-wrap {
        margin: auto;
    }
    .article-content-top-columns-social {
        width: 3% !important;
    }
    .article-content-top-columns-menu {
        width: 20% !important;
    }
    .article-content-top-columns-paragraph {
        width: 66% !important;
    }
    #et-navigation>ul>li {
        margin: 0;
    }

    #et-info .et-top-search .et-search-field:focus,
    #et-info .et-top-search .et-search-field {
        background: #fff;
        width: 200px;
        color: #555;
    }
    
    #et-info .et-top-search .et-search-submit:before {
        color: #555;
    }

    .single-post .header {
        margin-bottom: 20px;
    }
    .side-card-columns.right .et_pb_column.et_pb_column_1_2:first-child {
        margin-right: 3.75%;
    }

    #et-info .et-top-search .et-search-field {
        border: 1px #555 solid;
    }

    input#et_pb_search_module_input_0 {
        font-size: 12px;
    }

    #top-header {
        padding: 10px 0 15px 0;
        background: #fff;
    }  
    
    #main-header > .container  {
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .left-image-cards article {
        max-width: 350px;
    }

}

@media only screen and (min-width: 1024px) {
    .admin-bar.et_fixed_nav .et-fixed-header #main-header {
        top: -90px;
        box-shadow: 2px 2px 10px rgba(0,0,0,.3);
    }

}

@media only screen and (min-width: 1025px) {
    .left-right #et-navigation {
        transform: translateY(-15px);
    }
}

@media only screen and (max-width: 1025px) {
    .two-columns_hero .et_pb_blurb_container,
    .issue_hero .et_pb_blurb_container {
        width: 100%;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 880px) {
    .two-columns_hero .et_pb_blurb_container,
    .issue_hero .et_pb_blurb_container {
        position: relative;
    }
}

@media only screen and (max-width: 981px) {
    .side-card-columns.left,
    .article-content-top-columns {
        display: flex;
        flex-direction: column;
    }
    .side-card-columns.left .et_pb_column:nth-child(1),
    .article-content-top-columns-social {
        order: 1;
    }
    .article-content-top-columns-paragraph {
        order: 3;
    }
    .side-card-columns.left .et_pb_column:first-of-type,
    .article-content-top-columns-menu {
        order: 2;
    }

    #et-mobile-navigation nav {
        background: #084272;
    }

    .et_pb_row.et_pb_row_fullwidth,
    .et_pb_specialty_fullwidth>.et_pb_row {
        width: 100%!important;
    }

    .side-card-columns.right .et_pb_text .et_pb_text_inner,
    .side-card-columns.left .et_pb_text .et_pb_text_inner {
        padding: 0px;
    }

   .side-card-columns.left .et_pb_column.et-last-child {
       margin-bottom: 30px;
   }

    .main-section-header h2:after {
        margin: -20px 0 0 0;
    }

    .topics-categories .et_pb_code_inner a {
        width: 48%;
    }
}

@media only screen and (max-width: 750px) {
    .topics-categories .et_pb_code_inner a {
        width: 100%;
    }
    .page .post-wrap h1.entry-title {
        margin-left: 0;
        padding: 10px 8px 10px 0;
        line-height: 1.2em;
    }
    .footer-wrapper {
        display: block;
    }
    .search-results .posts-blog-feed-module.standard .hentry .post-content,
    .archive .posts-blog-feed-module.standard .hentry .post-content {
        width: 100% !important;
    }
    .search-results .posts-blog-feed-module.standard .hentry.type-post.has-post-thumbnail .header,
    .archive .posts-blog-feed-module.standard .hentry.type-post.has-post-thumbnail .header {
        width: 80%;
        margin-bottom: 20px;
        padding: 0;
    }
    .search-results .posts-blog-feed-module .hentry,
    .archive .posts-blog-feed-module .hentry {
        display: block;
    }
    .regular-article-paragraph,
    .paragraph blockquote {
        padding-left: 0;
    }
    .call-to-action {
        padding: 20px;
    }

    .article-breadcrumbs-season-header h2 {
        margin-top: 20px;
    }


    .paragraph-with-image {
        padding: 0 0 0 0%;
    }
    .topics-categories_revised.sections .et_pb_code_inner,
    .topics-categories_revised .et_pb_code_inner {
        display: block;
        max-height: 100%;
    }
    .topics-categories_revised .et_pb_code_inner a {
        width: 100%;
    }
    .past-issues .et_pb_column .et_pb_image {
        margin-left: 0;
    }
}

@media print {
    body {
        background: #fff none !important;
        color: #000;
    }
    #wrapper {
        clear: both !important;
        display: block !important;
        float: none !important;
        position: relative !important;
    }
    #header {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }
    #colophon {
        border-top: 2pt solid #000;
    }
    #site-title,
    #site-description {
        float: none;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
    }
    #site-title {
        font-size: 13pt;
    }
    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }
    .entry-title {
        font-size: 21pt;
    }
    a.addthis_button_print,
    #access,
    #branding img,
    #respond,
    .comment-edit-link,
    .edit-link,
    .navigation,
    .page-link,
    .widget-area {
        display: none !important;
    }
    #container,
    #header,
    #footer {
        margin: 0;
        width: 100%;
    }
    #content,
    .one-column #content {
        margin: 24pt 0 0;
        width: 100%;
    }
    .wp-caption p {
        font-size: 11pt;
    }
    #site-info,
    #site-generator {
        float: none;
        width: auto;
    }
    #colophon {
        width: auto;
    }
    img#wpstats {
        display: none;
    }
    #site-generator a {
        margin: 0;
        padding: 0;
    }
    #entry-author-info {
        border: 1px solid #e7e7e7;
    }
    #main {
        display: inline;
    }
    .home .sticky {
        border: none;
    }
    .call-to-action,
    #footer-content-eb,
    #top-header,
    #main-header-wrapper {
        display: none;
    }

    .paragraph-with-image p,
    .paragraph-with-image,
    .regular-article-paragraph,
    .et_pb_row {
        padding: 0;
    }
}

@media only screen and (max-width: 411px) {
    .et_pb_row_0 {
        max-width: 95%;
    }
}
